* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
}
.container .box1 {
    width: 50vw;
    height: 300px;
    background-color: red;
}
.container .box2 {
    display: flex;
    flex-direction: column;
}
.container .box2 .minibox1 {
    width: 50vw;
    height: 150px;
    background-color: darkblue;
}
.container .box2 .minibox2 {
    width: 50vw;
    height: 150px;
    background-color: green;
}